* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-inline: 20px;
    margin-block: 40px;
    font-family: 'Playwrite NZ Basic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#player-creation-form {
    max-width: fit-content;
    margin-inline: auto;
    padding: 15px;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15rem;
}

#player-creation-form * {
    margin: 10px;
}

.player-one-creation, .player-two-creation {
    border: 2px #2b2b2b solid;
    border-radius: 5px;
    padding: 15px;
}

.player-one-creation legend {
    background-color: #2780F5;
    color: #f1f1f1;
    padding: 15px;
    font-family: 'Playwrite NZ Basic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.player-two-creation legend {
    background-color: #E33B32;
    color: #f1f1f1;
    padding: 15px;
    font-family: 'Playwrite NZ Basic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

#player-one-mark, #player-two-mark {
    display: flex;
    align-items: center;
}

.player-one-creation .player-mark {
    color: #2780F5;
    font-size: 1.45rem;
}

.player-two-creation .player-mark {
    color: #E33B32;
    font-size: 1.45rem;
}

input[type="text"] {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15rem;
    background-color: #f1f1f1;
    padding: 10px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #2b2b2b;
}

#submit-btn {
    display: block;
    max-width: fit-content;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.35rem;
    margin-block-start: 20px;
    margin-inline: auto;
    padding: 5px;
    background-color: #f1f1f1;
    color: #2b2b2b;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #2b2b2b;
    color: #f1f1f1;
}

#submit-btn[disabled] {
    cursor: default;
    background-color: #2b2b2b;
    color: #f1f1f1;
}


#display-message {
    text-align: center;
    margin-block: 20px;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 1.75rem;
}

.game-container {
    margin-block: 40px;
}

#game-board-display {
    max-width: fit-content;
    margin-inline: auto;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.game-board-space  {
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 2px solid #2b2b2b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-family: 'Playwrite NZ Basic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.45rem;
}