/* 
player1: #2780F5 
player1: #E33B32
headings: playwrite nz basic
body: lato
game board outline: #000
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-inline: 20px;
    margin-block: 40px;
    font-family: 'Playwrite NZ Basic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#player-creation-form {
    max-width: fit-content;
    margin-inline: auto;
    border: 2px solid goldenrod;
}

#player-creation-form * {
    margin: 10px;
    padding: 5px;
}

/* .player-one-creation {}

.player-two-creation {}

label {}

.player-mark {}

input[type="text"] {} */

#submit-btn {
    display: block;
    max-width: fit-content;
    margin-inline: auto;
}

/* #display-message {} */

.game-container {
    margin-block: 40px;
}

#game-board-display {
    max-width: fit-content;
    margin-inline: auto;
    padding: 10px;
    border: 2px solid slateblue;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.game-board-space  {
    height: 100px;
    width: 100px;
    border: 2px solid plum;
    display: flex;
    justify-content: center;
    align-items: center;
}