* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-inline: 20px;
    margin-block: 40px;
}

.player-creation-container form {
    max-width: fit-content;
    margin-inline: auto;
    border: 2px solid goldenrod;
}

.player-creation-container form * {
    margin: 10px;
    padding: 5px;
}

/* .player-one-creation {} */

/* #player-one-name {} */

/* #player-two-name {} */

/* #player-one-mark {} */

/* #player-two-mark {} */

#submit-btn {
    display: block;
    max-width: fit-content;
    margin-inline: auto;
}

.game-container {
    margin-block: 40px;
}

#gameboard-grid-area {
    max-width: fit-content;
    margin-inline: auto;
    padding: 10px;
    border: 2px solid slateblue;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#gameboard-grid-area div {
    height: 100px;
    width: 100px;
    border: 2px solid plum;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endgame-message {} */